<!DOCTYPE html>
<html>
<link rel="icon" sizes="70x70" href="/Imagens/favicon-70x70.png" />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>AssessoriaWeb</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand" style="font-weight: bold; padding:0; display: flex; align-items: center; margin: 0 10px"><i class="icon-holz"></i>Time Holz</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        if (HttpContext.Current.User.IsInRole("assessor") || HttpContext.Current.User.IsInRole("admin"))
                        {
                            <li>
                                <a class="btn dropdown-toggle btn-pessoa btn-primary  glyphicon glyphicon-menu-down " data-toggle="dropdown">
                                    Pessoas
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Usuário", "Index", "Pessoas")</li>
                                    <li>@Html.ActionLink("Endereço", "Index", "Enderecoes")</li>
                                    <li>@Html.ActionLink("Atleta", "Index", "Atletas")</li>
                                    <li>@Html.ActionLink("Assessor", "Index", "Assessors")</li>
                                    <li>@Html.ActionLink("Nutricionista", "Index", "Nutricionistas")</li>
                                </ul>
                            </li>
                        }
                        if (User.IsInRole("assessor") || User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Avaliação", "Index", "Avaliacaos")</li>
                            <li>@Html.ActionLink("Turma", "Index", "Turmas")</li>
                            <li>@Html.ActionLink("Treinamento", "Index", "Treinamentoes")</li>
                            <li>@Html.ActionLink("Atividades", "Index", "Atividades")</li>
                        }
                        if (User.IsInRole("assessor") || User.IsInRole("nutricionista") || User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Plano alimentar", "Index", "PlanoAlimentares")</li>
                        }
                        if (User.IsInRole("assessor") || User.IsInRole("atleta"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Index", "DashBoard")</li>
                            <li>@Html.ActionLink("Agenda", "Schedule", "DashBoard")</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    }
                </ul>
                <ul class="nav navbar-nav nav-inverse">
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Log Out", "LogOut", "Home")
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Log In", "Login", "Home")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
