@model AssessoriaWeb.Models.Avaliacao

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Avaliação</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Atleta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atleta.Pessoa.pes_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ava_data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ava_data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ava_peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ava_peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ava_gorduraVisceral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ava_gorduraVisceral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ava_gorduraCorporal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ava_gorduraCorporal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ava_bioimpedancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ava_bioimpedancia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ava_id }, new { @class = "btn btn-primary edit glyphicon glyphicon-edit" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
</p>
