@model IEnumerable<AssessoriaWeb.Models.Avaliacao>

@{
    ViewBag.Title = "Lista de Avaliações";
}

<h2>Lista de Avaliações</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-success create glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Atleta.Pessoa.pes_nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ava_data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ava_peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ava_gorduraVisceral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ava_gorduraCorporal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ava_bioimpedancia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Atleta.Pessoa.pes_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ava_data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ava_peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ava_gorduraVisceral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ava_gorduraCorporal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ava_bioimpedancia)
        </td>
        <td>
            @Html.ActionLink(" ", "Details", new { id = item.ava_id }, new { @class = "btn btn-success details glyphicon glyphicon-search" })
            @Html.ActionLink(" ", "Delete", new { id = item.ava_id }, new { @class = "btn btn-danger delete glyphicon glyphicon-trash" })
            @Html.ActionLink(" ", "Edit", new { id = item.ava_id }, new { @class = "btn btn-primary edit glyphicon glyphicon-edit" })
        </td>
    </tr>
}

</table>
