
@using AssessoriaWeb.Models;
@{ ViewBag.Title = "Dashboard"; }

@{Random rnd = new Random(); }

<div style=" display: flex;
    justify-content: center;
    flex-direction: column;
    ">

    <div class="date-time-interval">
        <button onclick="prev()" class="btn btn-default glyphicon glyphicon-menu-left"></button>
        <h4> @ViewBag.startOfWeek - @ViewBag.endOfWeek</h4>
        <button onclick="next()" class="btn btn-default glyphicon glyphicon-menu-right"></button>
    </div>
    <div class="cd-schedule loading">
        <div class="timeline">
            <ul>
                @{ var startTime = DateTime.Parse($"0001-01-01 {ViewBag.horaInicial}:00:00");
                    var endTime = DateTime.Parse($"0001-01-01 {ViewBag.horaFinal}:00:00");
                    while (startTime <= endTime)
                    {
                    <li><span>@startTime.ToShortTimeString()</span></li> startTime = startTime.AddMinutes(30);
                    } }
            </ul>
        </div> <!-- .timeline -->

        <div class="events">
            <ul class="wrap">

                <li class="events-group @(ViewBag.today == 1 ? "today" : "")">
                    <div class="top-info"><span>Domingo</span><span><a class="column-number-count">@(ViewBag.lista_domingo.Count > 0 ? ViewBag.lista_domingo.Count : "")</a></span></div>
                    <ul>
                        @{ foreach (Treinamento tre in new List<Treinamento>(ViewBag.lista_domingo))
                            {
                                rnd = new Random(tre.tre_id);
                <li class="single-event" data-start="@tre.tre_hora.ToString(@"hh\:mm")" data-end="@tre.tre_hora.Add(TimeSpan.FromHours(1)).ToString(@"hh\:mm")" data-content="@tre.tre_id" data-event="event-@rnd.Next(1, 5)">
                    <a href="#0">
                        <em class="event-name">@tre.tre_descricao</em>
                    </a>
                </li> } }
                    </ul>
                </li>

                <li class="events-group @(ViewBag.today == 2 ? "today" : "")">
                    <div class="top-info"><span>Segunda</span><span><a class="column-number-count">@(ViewBag.lista_segunda.Count > 0 ? ViewBag.lista_segunda.Count : "")</a></span></div>
                    <ul>
                        @{ foreach (Treinamento tre in new List<Treinamento>(ViewBag.lista_segunda))
                            {
                                rnd = new Random(tre.tre_id);
                <li class="single-event" data-start="@tre.tre_hora.ToString(@"hh\:mm")" data-end="@tre.tre_hora.Add(TimeSpan.FromHours(1)).ToString(@"hh\:mm")" data-content="@tre.tre_id" data-event="event-@rnd.Next(1, 5)">
                    <a href="#0">
                        <em class="event-name">@tre.tre_descricao</em>
                    </a>
                </li> } }
                    </ul>
                </li>

                <li class="events-group @(ViewBag.today == 3 ? "today" : "")">
                    <div class="top-info"><span>Terça</span><span><a class="column-number-count">@(ViewBag.lista_terca.Count > 0 ? ViewBag.lista_terca.Count : "")</a></span></div>

                    <ul>
                        @{ foreach (Treinamento tre in new List<Treinamento>(ViewBag.lista_terca))
                            {
                                rnd = new Random(tre.tre_id);
                <li class="single-event" data-start="@tre.tre_hora.ToString(@"hh\:mm")" data-end="@tre.tre_hora.Add(TimeSpan.FromHours(1)).ToString(@"hh\:mm")" data-content="@tre.tre_id" data-event="event-@rnd.Next(1, 5)">
                    <a href="#0">
                        <em class="event-name">@tre.tre_descricao</em>
                    </a>
                </li> } }
                    </ul>
                </li>

                <li class="events-group @(ViewBag.today == 4 ? "today" : "")">
                    <div class="top-info"><span>Quarta</span><span><a class="column-number-count">@(ViewBag.lista_quarta.Count > 0 ? ViewBag.lista_quarta.Count : "")</a></span></div>

                    <ul>
                        @{ foreach (Treinamento tre in new List<Treinamento>(ViewBag.lista_quarta))
                            {
                                rnd = new Random(tre.tre_id);
                <li class="single-event" data-start="@tre.tre_hora.ToString(@"hh\:mm")" data-end="@tre.tre_hora.Add(TimeSpan.FromHours(1)).ToString(@"hh\:mm")" data-content="@tre.tre_id" data-event="event-@rnd.Next(1, 5)">
                    <a href="#0">
                        <em class="event-name">@tre.tre_descricao</em>
                    </a>
                </li> } }
                    </ul>
                </li>

                <li class="events-group @(ViewBag.today == 5 ? "today" : "")">
                    <div class="top-info"><span>Quinta</span><span><a class="column-number-count">@(ViewBag.lista_quinta.Count > 0 ? ViewBag.lista_quinta.Count : "")</a></span></div>

                    <ul>
                        @{ foreach (Treinamento tre in new List<Treinamento>(ViewBag.lista_quinta))
                            {
                                rnd = new Random(tre.tre_id);
                <li class="single-event" data-start="@tre.tre_hora.ToString(@"hh\:mm")" data-end="@tre.tre_hora.Add(TimeSpan.FromHours(1)).ToString(@"hh\:mm")" data-content="@tre.tre_id" data-event="event-@rnd.Next(1, 5)">
                    <a href="#0">
                        <em class="event-name">@tre.tre_descricao</em>
                    </a>
                </li> } }
                    </ul>
                </li>

                <li class="events-group @(ViewBag.today == 6 ? "today" : "")">
                    <div class="top-info"><span>Sexta</span><span><a class="column-number-count">@(ViewBag.lista_sexta.Count > 0 ? ViewBag.lista_sexta.Count : "")</a></span></div>

                    <ul>
                        @{ foreach (Treinamento tre in new List<Treinamento>(ViewBag.lista_sexta))
                            {
                                rnd = new Random(tre.tre_id);
                <li class="single-event" data-start="@tre.tre_hora.ToString(@"hh\:mm")" data-end="@tre.tre_hora.Add(TimeSpan.FromHours(1)).ToString(@"hh\:mm")" data-content="@tre.tre_id" data-event="event-@rnd.Next(1, 5)">
                    <a href="#0">
                        <em class="event-name">@tre.tre_descricao</em>
                    </a>
                </li> } }
                    </ul>
                </li>
                <!--        -->
                <li class="events-group @(ViewBag.today == 7 ? "today" : "")">
                    <div class="top-info"><span>Sabado</span><span><a class="column-number-count">@(ViewBag.lista_sabado.Count > 0 ? ViewBag.lista_sabado.Count : "")</a></span></div>
                    <ul>
                        @{ foreach (Treinamento tre in new List<Treinamento>(ViewBag.lista_sabado))
                            {
                                rnd = new Random(tre.tre_id);
                <li class="single-event" data-start="@tre.tre_hora.ToString(@"hh\:mm")" data-end="@tre.tre_hora.Add(TimeSpan.FromHours(1)).ToString(@"hh\:mm")" data-content="@tre.tre_id" data-event="event-@rnd.Next(1, 5)">
                    <a href="#0">
                        <em class="event-name">@tre.tre_descricao</em>
                    </a>
                </li> } }
                    </ul>
                </li>
                <!--        -->
                <!--        -->
                <!--        -->
            </ul>
        </div>

        <div class="event-modal">
            <header class="header">
                <div class="content">
                    <span class="event-date"></span>
                    <h3 class="event-name"></h3>
                </div>

                <div class="header-bg"></div>
            </header>

            <div class="body">
                <div class="event-info"></div>
                <div class="body-bg"></div>
            </div>

            <a href="#0" class="close"></a>
        </div>

        <div class="cover-layer"></div>
    </div> <!-- .cd-schedule -->

</div>

<script>
    function next() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ScheduleTable", new { date = ((DateTime)ViewBag.Date).AddDays(7) })',
        }).done(function (result) {
            $("#main").html(result);
             render ()
        });
    }
    function prev() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ScheduleTable", new { date = ((DateTime)ViewBag.Date).AddDays(-7) })',
        }).done(function (result) {
            $("#main").html(result);
             render ()
        });
    }
    window.onload = function(){
        render ()
    }
</script>