@model AssessoriaWeb.Models.Pessoa

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Deseja deletar este registro ?</h3>
<div>
    <h4>Usuário</h4>
    <hr />
    @if (@ViewBag.Message != null)
    { 
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pes_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pes_cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pes_datanascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_datanascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pes_telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pes_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pes_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_login)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
