@model AssessoriaWeb.Models.Pessoa

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pes_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pes_cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pes_sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pes_datanascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_datanascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pes_telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pes_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pes_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pes_login)
        </dd>

    </dl>
</div>
<p>    
    @Html.ActionLink("Editar", "Edit", new { id = Model.pes_id }, new { @class = "btn btn-primary edit glyphicon glyphicon-edit" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
</p>
