@model AssessoriaWeb.Models.Pessoa
@using AssessoriaWeb.Helpers
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Usuário</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.pes_id)

    <div class="form-group">
        @Html.LabelFor(model => model.pes_nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pes_nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pes_nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pes_cpf, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pes_cpf, new { htmlAttributes = new { @class = "form-control cpf", maxlength = "11", minlength = "11" } })
            @Html.ValidationMessageFor(model => model.pes_cpf, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pes_sexo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CustomDropdownListFor(model => model.pes_sexo, ViewBag.list_sexo as List<CustomHelpers.CustomSelectItem>, null, "", new { @class = "form-control", @id = "pes_sexo" })
            @Html.ValidationMessageFor(model => model.pes_sexo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pes_datanascimento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.pes_datanascimento, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.pes_datanascimento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pes_telefone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pes_telefone, new { htmlAttributes = new { @class = "form-control telefone", maxlength = "11", minlength = "11" } })
            @Html.ValidationMessageFor(model => model.pes_telefone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pes_email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pes_email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pes_email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pes_login, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pes_login, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pes_login, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pes_senha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pes_senha, new { htmlAttributes = new { @class = "form-control", type = "password" } })
            @Html.ValidationMessageFor(model => model.pes_senha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>

</div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<script type="text/javascript">$(".telefone").mask("(00) 00000-0009");</script>
<script type="text/javascript">$(".cpf").mask("000.000.000-00");</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        let sexoSelecionado = '@ViewBag.sexoSelecionado';
        $('#pes_sexo').val(sexoSelecionado);
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
