@model AssessoriaWeb.Models.Treinamento

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Deseja deletar este registro ?</h3>
<div>
    <h4>Treinamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Assessor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assessor.Pessoa.pes_nome)
        </dd>

        <dt>
            Atleta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atleta.Pessoa.pes_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tre_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tre_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tre_data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tre_data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tre_hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tre_hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tre_valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tre_valor)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
