@model IEnumerable<AssessoriaWeb.Models.Treinamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assessor.ass_tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atleta.atl_categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tre_data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tre_hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tre_valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assessor.ass_tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Atleta.atl_categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tre_data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tre_hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tre_valor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tre_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.tre_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tre_id })
        </td>
    </tr>
}

</table>
