@model IEnumerable<AssessoriaWeb.Models.Treinamento>

@{
    ViewBag.Title = "Lista de Treinamentos";
}

<h2>Lista de Treinamentos</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-success create glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>
        <th>
            Atleta
        </th>
        <th>
            Assessor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tre_descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tre_data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tre_hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tre_valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Atleta.Pessoa.pes_nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assessor.Pessoa.pes_nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tre_descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tre_data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tre_hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tre_valor)
            </td>
            <td>
                @Html.ActionLink(" ", "Details", new { id = item.tre_id }, new { @class = "btn btn-success details glyphicon glyphicon-search" })
                @Html.ActionLink(" ", "Delete", new { id = item.tre_id }, new { @class = "btn btn-danger delete glyphicon glyphicon-trash" })
                @Html.ActionLink(" ", "Edit", new { id = item.tre_id }, new { @class = "btn btn-primary edit glyphicon glyphicon-edit" })
            </td>
        </tr>
    }

</table>
