@model AssessoriaWeb.Models.Atividade

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Deseja deletar este registro ?</h3>
<div>
    <h4>Atividade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ati_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ati_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atl_observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atl_observacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
