@model AssessoriaWeb.Models.Atividade

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Atividade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ati_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ati_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atl_observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atl_observacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ati_id }, new { @class = "btn btn-primary edit glyphicon glyphicon-edit" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
</p>
