@model IEnumerable<AssessoriaWeb.Models.Atividade>

@{
    ViewBag.Title = "Lista de Atividades";
}

<h2>Lista de Atividades</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-success create glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ati_descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atl_observacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ati_descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atl_observacao)
        </td>
        <td>
            @Html.ActionLink(" ", "Details", new { id = item.ati_id }, new { @class = "btn btn-success details glyphicon glyphicon-search" })
            @Html.ActionLink(" ", "Delete", new { id = item.ati_id }, new { @class = "btn btn-danger delete glyphicon glyphicon-trash" })
            @Html.ActionLink(" ", "Edit", new { id = item.ati_id }, new { @class = "btn btn-primary edit glyphicon glyphicon-edit" })
        </td>
    </tr>
}

</table>
