@model AssessoriaWeb.Models.PlanoAlimentar

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Deseja deletar este registro ?</h3>
<div>
    <h4>Plano Alimentar</h4>
    <hr />
        <dt>
            Atleta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atleta.Pessoa.pes_nome)
        </dd>

        <dt>
            Nutricionista
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nutricionista.Pessoa.pes_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pln_datainicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pln_datainicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pln_datafinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pln_datafinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pla_plano)
        </dt>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
