@model AssessoriaWeb.Models.PlanoAlimentar

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlanoAlimentar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Atleta.atl_categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atleta.atl_categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nutricionista.nut_crn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nutricionista.nut_crn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pln_datainicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pln_datainicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pln_datafinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pln_datafinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pla_plano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pla_plano)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
