@model AssessoriaWeb.Models.PlanoAlimentar

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Plano Alimentar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Atleta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atleta.Pessoa.pes_nome)
        </dd>

        <dt>
            Nutricionista
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nutricionista.Pessoa.pes_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pln_datainicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pln_datainicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pln_datafinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pln_datafinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pla_plano)
        </dt>

        <dd>
            @Html.Raw(Model.pla_plano)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.pln_id }, new { @class = "btn btn-primary edit glyphicon glyphicon-edit" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
</p>
