@model AssessoriaWeb.Models.PlanoAlimentar

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PlanoAlimentar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.pln_id)

        <div class="form-group">
            @Html.LabelFor(model => model.pln_datainicial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.pln_datainicial, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.pln_datainicial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pln_datafinal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.pln_datafinal, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.pln_datafinal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pla_plano, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pla_plano, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pla_plano, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.atl_id, "Atleta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("atl_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.atl_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nut_id, "Nutricionista", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("nut_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nut_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
