@model IEnumerable<AssessoriaWeb.Models.PlanoAlimentar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Atleta.atl_categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nutricionista.nut_crn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pln_datainicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pln_datafinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pla_plano)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Atleta.atl_categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nutricionista.nut_crn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pln_datainicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pln_datafinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pla_plano)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pln_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.pln_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pln_id })
        </td>
    </tr>
}

</table>
