@model IEnumerable<AssessoriaWeb.Models.Atleta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.pes_nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atl_categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atl_observacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.pes_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atl_categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atl_observacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.atl_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.atl_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.atl_id })
        </td>
    </tr>
}

</table>
