@model IEnumerable<AssessoriaWeb.Models.Nutricionista>

@{
    ViewBag.Title = "Lista de Nutricionistas";
}

<h2>Lista de Nutricionistas</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-success create glyphicon glyphicon-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.pes_nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nut_crn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nut_cnpj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.pes_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nut_crn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nut_cnpj)
        </td>
        <td>
            @Html.ActionLink(" ", "Details", new { id = item.nut_id }, new { @class = "btn btn-success details glyphicon glyphicon-search" })
            @Html.ActionLink(" ", "Delete", new { id = item.nut_id }, new { @class = "btn btn-danger delete glyphicon glyphicon-trash" })
            @Html.ActionLink(" ", "Edit", new { id = item.nut_id }, new { @class = "btn btn-primary edit glyphicon glyphicon-edit" })
        </td>
    </tr>
}

</table>
