@model AssessoriaWeb.Models.Assessor

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Assessor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.pes_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.pes_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ass_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ass_tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ass_id }, new { @class = "btn btn-primary edit glyphicon glyphicon-edit" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
</p>
