@model AssessoriaWeb.Models.Turma

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Assessor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assessor.Pessoa.pes_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trm_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trm_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trm_observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trm_observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trm_HoraInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trm_HoraInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trm_HoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trm_HoraFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.trm_id }, new { @class = "btn btn-primary edit glyphicon glyphicon-edit" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
</p>
