@model AssessoriaWeb.Models.Turma

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Assessor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assessor.Pessoa.pes_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trm_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trm_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trm_observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trm_observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trm_HoraInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trm_HoraInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trm_HoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trm_HoraFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.trm_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
