@model IEnumerable<AssessoriaWeb.Models.Turma>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assessor.ass_tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trm_descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trm_observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trm_HoraInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trm_HoraFinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assessor.ass_tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trm_descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trm_observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trm_HoraInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trm_HoraFinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.trm_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.trm_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.trm_id })
        </td>
    </tr>
}

</table>
